<div class="block p-6" style="background-color: #F1A09C"><h1 class="title is-1" style="font-family: Dancing Script; color: #415E7B"><%= (@category.name).titleize %></h1></div>

<%= render 'flowers/flowers' %>
