<div class="block p-6" style="background-color: #F2C8AD"><h1 class="title is-1" style="font-family: Dancing Script; color: #AA7485">Shopping Cart</h1></div>

<div class="columns is-desktop">

<div class="column" >
  <%= render "cart/cartitem" %>
</div>

<div class="column" >
  <%= render "cart/summary" %>
</div>

</div>