<% if resource.errors.any? %>
  <div id="error_explanation" >
    <ul class="has-text-centered m-2" style="color: white; background-color: #F2848C">
      <% resource.errors.full_messages.each do |message| %>
        <li>*<%= message %>*</li>
      <% end %>
    </ul>
  </div>
<% end %>
