<div class="block p-6" style="background-color: #E0EBCF"><h1 class="title is-1" style="font-family: Dancing Script; color: #B97580">Flowers</h1></div>


<nav class="breadcrumb m-5" aria-label="breadcrumbs">
      <ul>
        <%= render_breadcrumbs :tag => :li , :separator => "" %>
      </ul>

    </nav>

<%= render "flowers/flowers"%>
