<div class="block p-6" style="background-color: #7B6986"><h1 class="title is-1" style="font-family: Dancing Script; color: #F2A19D">Results for: "<%= params[:searchwords] %>"</h1></div>


<%= render "flowers/flowers" %>
