<div class="block p-6" style="background-color: #415E7B"><h1 class="title is-1" style="font-family: Dancing Script; color: #F2A19D">About</h1></div>

<div class="block p-6 m-4" style="background-color: #F2C8AD; border-radius: 40px">
  <p><%= @about.description %></p>
</div>

